
  h1 {
      font-family: 'Courgette', cursive;
      color: red;
      text-shadow: 1px 2px 2px rgb(90, 2, 2);
  
  }
  
  #header-nav-container {
    text-align: center;
    text-decoration: none;
  }
  
  .heading{
    text-decoration: none;
    border: 3px solid black;
  }
  
 #site-sections-box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nav-link-text {
    margin: 10px;
    padding: 5px;
  } 
  
   