/* 

/*
 #F8FFCA Yellow Green
 #B6D084 Chartreuse
 #FFCB32 Mimosa
 #2F7604 Green
 #141514 Black
 */

 .recipePageHeader {
    font-family: 'Courgette', cursive;
    color: red;
    font-size: 35px;
    text-shadow: 1px 2px 2px rgb(3, 3, 3); 
}


.meal_typeInfo, .cuisine_typeInfo {
    font-weight: 700;
    font-size: 18px;
}

.recipeHeaders {
    font-family: 'Courgette', cursive;
    color: red;
    font-size: 22px;
    text-shadow: 1px 2px 2px rgb(3, 3, 3); 
}

.recipeInfo {
    font-weight: bold;
    font-size: 18px;
    padding-left: 5%;
}

#recipeView {
    border: black solid 2px;
    margin: 5%;
    padding: 2.5%;
    border-radius: 2%;
}

.buttonGroup {
    text-align: center;
}

.a-field {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
}

@media screen and (min-width: 720px) {
    .instructions {
        font-size: 125%;
    }
} 