.App {
    box-sizing: border-box;
    padding:  0 15px;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 16px;
    color: rgb(1, 22, 1);
    /* background-color: rgb(173, 236, 197) opacity 0.3; */
    background-image:  url('./Assets/veganKetopiaBackground.jpg');
}

/* body {
    
} */
@media screen and (min-width: 768px) {
.App {
    width: 95%;
    font-size: 115%;
    text-align: center;
}
}


@media screen and (min-width: 1028px) {

    .App {
        width: 95%;
        font-size: 125%;
        text-align: center;
    }
}