
 
 main {
   padding-bottom: 250px;
   padding-top: 10px;
 }

 .App {
  font-family:  'Baloo Paaji 2', cursive;
  background-color: rgb(204, 240, 180);
  /* height: 2000px; */
 } 

button {
  background-color: rgb(238, 124, 124);
} 

.medButton {
  width: 150px;
  height: 50px;
  font-family: 'Baloo Paaji 2', cursive;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  border: solid 1px;
  border-radius: 10%;
  margin: 1%;
  margin-bottom: 20px;
} 

.bigButton {
  font-family: 'Baloo Paaji 2', cursive;
  font-weight: 700;
  padding: 10px;
  margin: 5px;
}

.medButton:hover {
  background-color: #2F7604;
  color: #FFCB32;
}

.dropDown {
  text-align: center;
  background-color: darkgreen;
  color: white;
  min-width: 200px;
  border: white 2px solid;
  border-radius: 15%;
  height: 50px;
  font-size: 16px;
  margin: 10px;
}

.randomLabel {
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  margin: 5px;
}

.recipePage {
  align-content: center;
} 

.heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Baloo Paaji 2', cursive;
  font-size: 20px;
  color: #141514;
  background-color: #b6d084;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px black solid;
  border-radius: 10%;
  box-shadow: 5px 5px 5px #2F7604;
  padding: 2.5%;
  margin-top: 10px;
}

 @media screen and (min-width: 768px) { 
 

  .medButton {
    width: 150px;
    height: 50px;
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    border: solid 2px;
    padding-bottom: 3px;
    margin: 1%;
  } 
}